*{
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
	box-sizing: border-box;
}

.popup-wrap{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.7);
	z-index: 100;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-wrap .content{
	width: 800px;
	height: 600px;
	padding: 40px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
	box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
	position: relative;	
}

.popup-wrap .close-button{
	position: absolute;
	cursor: pointer;
	font-size: 20px;
	color:#571617;
	top: 20px;
	right: 20px;
	z-index: 20;
	font-weight: bold;
}

.popup-wrap .title{
	font-size: 32px;
	margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;
	text-align: center;
}



.popup-wrap .left{
	width: 49%;
    display: inline-block;
    margin-top: 15px;
}
.popup-wrap .right{
	width: 49%;
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
}

.popup-wrap .phone-form,
.popup-wrap .email-form,
.popup-wrap .vk-form,
.popup-wrap .success-email,
.popup-wrap .success-phone,
.popup-wrap .error-form{
	display: none;
}

.popup-wrap input{
	margin-top: 30px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: 1px solid #571617;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;

}

.popup-wrap .button{
	display: inline-block;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;	
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
}

.popup-wrap .button:hover,
.popup-wrap .button.active{
	background-color: #fff;
	color:#571617;
}

.popup-wrap .right .button{
	float: right;
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}

.blur{
	-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}


.wrap{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    position: relative;
}

.flex-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

menu{
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,0,0,0.35);
}
menu .logo{
	float: left;
}

menu img{
	background: url('img/logo.svg') 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 75px;
    height: 75px;
    float: left;
    margin-right: 15px;
}
menu .name{
	color:#fff;
    font-size: 32px;
    padding-bottom: 2px;
    padding-top: 8px;
}
menu .subname{
	color:#fff;
	font-size: 13px;
	font-style: italic;
}
menu .call{
    float: right;
    color: #fff;
}

menu .call .item{
	margin-bottom: 10px;
	font-size: 18px;

	font-weight: bold;
}

menu .call .item a{
	color:#fff;
	text-decoration: none;
		font-family: 'Arimo', sans-serif;
}

.main{
	background: url('img/main-6.jpg') 0 0 no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	color:#fff;
	background-attachment: fixed;
}

.main .content{
    max-width: 600px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 110px;
}

.main .title{
	font-size: 32px;
	margin-bottom: 20px;
	font-family: 'Arimo', sans-serif;
}

.main .sub-title{
	font-size: 20px;
	margin-bottom: 60px;
	font-style: italic;	
}

.main .button{
	display: inline-block;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 170px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 25px;
    transition: 0.4s;
    cursor: pointer;
}

.main .button:hover{
	background-color: #fff;
	color:#571617;
}

.main .arrow{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #fff;
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin-left: -50px;
	text-align: center;
    line-height: 44px;
    font-size: 28px;
    transition: 0.4s;
    cursor: pointer;
}

.main .arrow:hover{
	line-height: 55px;
}

.utp1{
	width: 100%;
	background-color: #fff;
	padding-bottom: 50px
}

.utp1 .title{
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-family: 'Arimo', sans-serif;
}

.utp1 .item{
	display: inline-block;
	width: 250px;
	margin-left: 23px;
	margin-right: 23px;
	text-align: center;
	vertical-align: top;
}

.utp1 .item img{
	width: 150px;
	height: 150px;
	margin-bottom: 25px;
}

.utp1 .item .text{
	font-size: 18px;
}

.card{
	width: 100%;
	background: url('img/card.jpeg') 0 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

.card .content{
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
		box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);	
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	position: relative;
}


.card .title{
	margin-top: 20px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}

.card .title.title2{
	margin-top: 50px;
	margin-bottom: 60px;	
}

.card ul{
	font-size: 20px;
	margin-left: 20px;
}

.card li{
	margin-bottom: 20px;
    font-size: 22px;
}
.card .flex-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card .item{
	display: inline-block;
	width: 235px;
	margin-left: 23px;
	margin-right: 23px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 50px;
}

.card .item img{
	width: 130px;
	height: 130px;
	margin-bottom: 25px;
}

.card .item .text{
	font-size: 18px;
}

.card .button{
	display: block;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;	
    margin: auto;
    letter-spacing: 3px;
    margin-top: 20px;
    background-color: #571617;
    color:#fff;
}

.card .button:hover{
	background-color: #fff;
	color:#571617;
}

.list{
	width: 100%;
	padding-bottom: 50px;
}

.list .title{
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}



.list .flex-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list .item{
	display: inline-block;
	width: 270px;
	height: 530px;
	border-radius: 4px;
	margin-bottom: 60px;
	-webkit-box-shadow: 0px 3px 5px 0px #999;
	box-shadow: 0px 3px 5px 0px #999;	
}


.list .item img{
	width: 100%;
	height: 200px;
	border-radius: 4px 4px 0px 0px;
}

.list .item .text{
	padding-left: 10px;
	padding-right: 10px;
}

.list .item .text ul{
	margin-left: 15px;
    list-style-type: circle;
}

.list .item .text li{
	margin-bottom: 5px;
}

.list .item .number{
	font-family: 'Arimo', sans-serif;
	margin-top: 8px;
	margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

.list .item span{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}

.utp2{
	width: 100%;
	height: 400px;
	background: url('img/main-22.jpg') 0 0 no-repeat;
	background-size: cover;
	background-position:center;
	padding-top: 45px;
	padding-bottom: 20px;
}

.utp2 .content{
	width: 600px;
	height: 100%;
	float: right;
	color:#fff;
}

.utp2 .title{
	font-size: 36px;
	font-family: 'Arimo', sans-serif;	
	margin-bottom: 30px;
}

.utp2 ul{
	margin-left: 20px;
    font-size: 23px;
}

.utp2 li{
	margin-bottom: 20px;
}

.objections{
	width: 100%;
}

.objections .title{
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}

.objections .flex-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.objections .item{
	width: 420px;
	height: 400px;
	-webkit-box-shadow: 0px 5px 10px 0px #999;
	box-shadow: 0px 5px 10px 0px #999;	
	border-radius: 4px;
	display: inline-block;
	margin-bottom: 70px;
	background-color: #fdfdfd;
	    padding: 25px;
}

.objections .item img{
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
	margin-bottom: 15px;
}

.objections .item .sub-title{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	font-family: 'Arimo', sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.payway{
	width: 100%;
	height: 500px;
	background: url('img/pay.jpg') 0 0 no-repeat;
	background-size: cover;
	background-position: center;
	color:#fff;
}

.payway .title{
	padding-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-family: 'Arimo', sans-serif;
}

.payway .item{
	display: inline-block;
	width: 250px;
	margin-left: 23px;
	margin-right: 23px;
	text-align: center;
	vertical-align: top;
}

.payway .item img{
	width: 150px;
	height: 150px;
	margin-bottom: 25px;
}

.payway .item .text{
	font-size: 18px;
}

.me{
	width: 100%;
	padding-bottom: 50px;
}

.me .title{
	padding-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-family: 'Arimo', sans-serif;
}

.me .text{
    width: 600px;
    padding-left: 100px;
    display: inline-block;
    font-size: 18px;
}
.me .avatar{
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

.me .avatar img{
	width: 250px;
	height: 250px;
	border-radius: 150px;
	margin-bottom: 20px;
}

.me .avatar .name{
	font-family: 'Arimo', sans-serif;
	font-size: 20px;
    text-align: center;
}

.final{
	width: 100%;
	height: 100vh;
	background: url('img/contacts.jpg') 0 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.final .title{
	padding-top: 50px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 36px;
	font-family: 'Arimo', sans-serif;
}

.final .button{
	display: inline-block;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;	
    letter-spacing: 3px;
    margin-top: 20px;
    background-color: #571617;
    color:#fff;
}

.final .button:hover{
	background-color: #fff;
	color:#571617;
}

.final .content{
	width: 100%;
	background-color: #fff;
	padding-bottom: 50px;
	-webkit-box-shadow: 0px 5px 10px 0px #999;
	box-shadow: 0px 5px 10px 0px #999;	
	border-radius: 4px;
}

.final .flex-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.final .item{
	display: inline-block;
	width: 300px;
	text-align: center;
	font-size: 25px;
}

.final .item span{
	display: block;
	text-align: center;
	font-size: 96px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}

.final .text{
	padding-top: 50px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 30px;
	font-family: 'Arimo', sans-serif;
}

.final .price{
	display: block;
	text-align: center;
	font-family: 'Arimo', sans-serif;
	font-size: 44px;
	font-weight: bold;
}

.final .button-wrap{
    width: 70%;
    margin: auto;
    margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.final .contacts{

}

.final .item a{
	color: #000;
}

@media (max-width: 1279px) {
	.wrap{
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.main .content{
	    right: 30px;
	}
	.utp1 .item{
		width: 300px;
		margin-bottom: 30px;
	}
	.payway{
		height: initial;
	}
	.payway .item{
		width: 300px;
		margin-bottom: 30px;	
	}
}

@media (max-width: 1023px) {

	.popup-wrap .content{
		width: 100%;
		min-height: 100vh;
		border-radius: 0px;
		padding: 20px;
		padding-top: 40px;
	}
	.popup-wrap .title{
		font-size: 24px;
	}
	
	.popup-wrap .left{
		display: block;
		width: 100%;
	}

	.popup-wrap .right{
		display: block;
		width: 100%;	
	}
	.wrap{
		padding-left: 0px;
	    padding-right: 0px;
	    margin-left: 20px;
	    margin-right: 20px;
	    width: initial;
	}

	menu{
		background-color: rgba(0,0,0,0);
	}

	menu .call{
		display: none;
	}

	.main{
		background-image: url('img/main-mobile.jpg');
		background-size:cover;
		height: initial;
	}

	.main .content{
		width: 100%;
	    right: 0;
	    position: relative;
	    bottom: 0;
	    padding-top: 150px;
	    text-align: center;
	    padding-bottom: 30px;
	}

	.main .title{
		font-size: 24px;
	}

	.main .sub-title{
		font-size: 16px;
	}

	.main .button{
	    margin-left: 0;
    	margin-bottom: 20px;
	}

	.main .arrow{
		display: none;
	}
	.utp1 .title{
		font-size: 28px;
	}
	.utp1 .item{
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-bottom: 48px;
	}

	.card{
		background-image: url('img/card-mobile.jpg');
	}
	.card .content{
		padding-left: 10px;
		padding-right: 10px;
	}
	.card .title{
		font-size: 28px;
    	margin-bottom: 40px;
	}
	.card li{
		font-size: 17px;
	}

	.card .item{
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-bottom: 48px;
	}

	.list .title{
		font-size: 28px;
	}

	.list .item{
	    height: auto;
	    padding-bottom: 15px;
	}
	.list .item img{
		height: auto;
	}

	.utp2{
		height: auto;
		background-image: url('img/utp2-mobile.jpg');
	}
	.utp2 .content{
		width: auto;
    	height: auto;
    	float: none;
	}
	.utp2 .title{
		font-size: 28px;
	}
	.utp2 ul{
		font-size: 20px;
	}
	.objections .title{
		font-size: 28px;
	}
	.objections .item{
		height: auto;
	}

	.payway .title{
		font-size: 28px;
	}
	.payway .item{
	    margin-left: 0px;
	    margin-right: 0px;
	    margin-bottom: 48px;
	}

	.me .title{
		font-size: 28px;
	}
	.me .text{
	    width: initial;
	    padding-left: 0;
	}

	.me .avatar{
		margin-left: 0;
		display: block;
    	margin-top: 35px;
	}

	.me .avatar img{
	    margin: auto;
	    margin-bottom: 20px;
	    display: block;
	}

	.final{
		background-size: cover;
    	height: auto;
    	background-image: url('img/contacts-mobile.jpg');
	}

	.final .text{
		padding-top: 80px;
	}
	.final .item{
		margin-bottom: 10px;
	}
	.final .item a{
		color: #000;
	}

	.final .button-wrap{
		margin-top: 50px;
	}
}

@media (max-width: 599px) {
	.utp1 .item{
		width: 100%;
	}
	.card .item{
		width: 100%;
	}
	.list .item{
		width: 100%;
	}
	.payway .item{
		width: 100%;
	}		
	.final .item{
		width: 100%;
	}
}