*{
	margin: 0;
	bottom: 0;
	font-family: 'Comfortaa', cursive;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}

.main_logo{
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
	height: 75px;
	opacity: 0;
  will-change:opacity;
}

.main_logo.showFront{
	-webkit-transform: none;
  	transform: none;
  	opacity: 1;
  	transition: opacity 550ms linear 1800ms;
}
.main_logo .logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 325px;
}

.main_logo img{
	background: url('favi.png') 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 75px;
    height: 75px;
    margin-right: 15px;
}
.main_logo .name{
	color:#571617;
    font-size: 32px;
    height: 75px;
    padding-bottom: 2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_logo .subname{
	color:#571617;
	font-size: 13px;
	font-style: italic;
}

.front{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url(img/front.jpg);
}

.front .blur_img{
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(img/front_blur.jpg);
  will-change:opacity;
}

.front.showFront .blur_img{
	opacity: 1;
  	transition: opacity 300ms linear 300ms;
}

.front .title{
	position: absolute;
	text-align: center;
	font-size: 30px;
	bottom: 230px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Arimo', sans-serif;
	color:#fff;
	text-shadow: 0px 1px 1px #000;
	transform: translateY(500%);
  will-change: transform;
}

.front.showFront .title{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms;
}

.front .subtitle{
	position: absolute;
	text-align: center;
	font-size: 20px;
	bottom: 160px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
		color:#fff;
	text-shadow: 0px 1px 1px #000;
	transform: translateY(500%);
  will-change: transform;
}

.front.showFront .subtitle{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1200ms;	
}

.front .button{
	display: inline-block;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;	
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    position: absolute;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
        box-shadow: 0px 4px 4px -1px #79797996;
    transform: translateY(500%);
    transition: background-color color  200ms;
    will-change: transform;
}

.front .button:hover,
.front .button:active{
	background-color: #fff;
	color:#571617;
}

.front.showFront .button{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1800ms;	
}

.for_me{
	width: 100%;
}

.for_me .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #571617;
    font-weight: bold;
}

.for_me ul {
    padding-left: 30px;
    padding-right: 15px;
}

.for_me li {
    list-style-type: none;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.for_me li:before {
    content: "- ";
}

.for_me .text{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #571617;
    font-weight: bold;
}

.first_lesson{
	/*background-image: url(img/card-mobile.jpg);*/
	background-image: url(img/img-3.jpeg);
	background-position: bottom;
	background-position-x: center;
	background-size: cover; 
	padding-bottom: 35px;
}

.first_lesson .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    text-shadow: 0px 1px 1px #000;
}

.first_lesson .item{
    width: 95%;
    margin: auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    height: 110px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 2px 3px 1px #571617a1;
    transform: scale(0.8);
}

.first_lesson .wrap.show .item{
  -webkit-transform: none;
  transform: none;
  transition: transform 300ms linear 350ms;
}

.first_lesson .wrap{
	transform: translateX(-110%);
	will-change: transform;
}

.first_lesson .wrap.show {
  -webkit-transform: none;
  transform: none;
  transition: transform 300ms linear;
}

.first_lesson .item img{
	width: 120px;
	height: 120px;
}
.first_lesson .item .text{
    padding: 10px;
    font-size: 18px;
    vertical-align: middle;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.first_lesson .button{
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px -1px #79797996;
    transition: 200ms;
}

.first_lesson .button:hover,
.first_lesson .button:active{
  background-color: #fff;
  color:#571617;
}


.full_course{
  
}

.full_course .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 21px;
  color: #571617;
  font-weight: bold;
}

.full_course .subtitle{
  text-align: center;
  font-size: 25px;
  bottom: 160px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #571617;
  margin-bottom: 30px;
  font-weight: bold;
}

.full_course .block{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 1px #571617a1;
}

.full_course .block img{
    width: 100%;
    height: 150px;

}

.full_course .block .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 26px;
  color:#571617;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

.full_course .block ul{
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.full_course .block li{
  margin-bottom: 12px;
  line-height: 1.2;
}

.better{
  width: 100%;
  background-image: url(img/test-5-1.jpg);
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.better .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #571617;
}

.better ul {
    padding-left: 30px;
    padding-right: 15px;
}

.better li {
    font-size: 20px;
    margin-bottom: 28px;
}

.who_are{

}

.who_are .foto{
	background-image: url(img/me.jpg);
	width: 100%;
	height: 273px;
}
.who_are .foto.show{
	background-image: url(img/me.jpg);
	width: 100%;
	height: 273px;
}

.who_are .text .title{
  font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.who_are .text ul{
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.who_are .text li{
  margin-bottom: 15px;
  line-height: 1.2;
}

.how{
  background-image: url(img/test-5-1.jpg);
  padding-top: 5px;
  padding-bottom: 40px;
  color: white;
}

.how .title{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff;
}

.how .wrap{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.how .item{
  width: 160px;
  text-align: center;
  display: inline-block;
}
.how .wrap.left{
  text-align: left;
}
.how .wrap.right{
  text-align: right;
}

.how .wrap.center{
  text-align: center;
}

.how .item img{
  width: 100px;
}

.how .button{
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px -1px #79797996;
    transition: 200ms;
}

.how .button:hover,
.how .button:active{
  background-color: #fff;
  color:#571617;
}

.believe{

}

.believe .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #571617;
}

.believe img{
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 35px;
}

.believe ul{
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.believe li{
  margin-bottom: 15px;
  line-height: 1.2;
}
/*.for_me .wrap{
	width: 100%;
	height: 100%;
	transform: translateX(-100%);
}

.for_me .content{
	width: 100%;
	height: 100%;
	background-color: red;
	border-radius: 10px;
	box-shadow: -2px 7px 9px 2px #aaa;
	transform: scale(0.8);
}

.for_me .wrap_for_me {
  -webkit-transform: none;
  transform: none;
  transition: transform 300ms linear;
}

.for_me .content_for_me {
  -webkit-transform: none;
  transform: none;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px #fff;
  transition: 300ms linear 350ms;
}*/