*{
	margin: 0;
	bottom: 0;
	font-family: 'Comfortaa', cursive;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}

.popup-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-wrap.pay form{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.popup-wrap input{
  margin: 0;
  margin-top: 30px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    border: 1px solid #571617;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;

}

.popup-wrap .button{
  display: inline-block;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
}

.popup-wrap .button:hover,
.popup-wrap .button.active{
  background-color: #fff;
  color:#571617;
}

.popup-wrap .content{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
  box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
  position: relative; 
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.popup-wrap .content p{
  margin-bottom: 10px;
}
.popup-wrap .content .scroll-wrap{
  height: 100%;
  overflow:auto;
}

.popup-wrap .close-button{
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color:#571617;
  top: 20px;
  right: 20px;
  z-index: 20;
  font-weight: bold;
}

.popup-wrap .title{
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Arimo', sans-serif;
  text-align: center;
}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;  
}

.main_logo{
	position: absolute;
	z-index: 10;
	top: 20px;
	left: 20px;
	height: 75px;
	opacity: 0;
  will-change:opacity;
}

.main_logo.showFront{
	-webkit-transform: none;
  	transform: none;
  	opacity: 1;
  	transition: opacity 1000ms linear 2000ms;
}
.main_logo .logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 300px;
}

.main_logo img{
	background: url('favi.png') 0 0 no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 75px;
    height: 75px;
    margin-right: 15px;
}
.main_logo .name{
	color:#571617;
    font-size: 32px;
    height: 75px;
    padding-bottom: 2px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_logo .subname{
	color:#571617;
	font-size: 13px;
	font-style: italic;
}

.front{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url(img/front-mob-sm.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.front .title{
	position: absolute;
	text-align: center;
	font-size: 30px;
	bottom: 230px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Arimo', sans-serif;
	color:#fff;
	text-shadow: 0px 1px 6px #000;
	transform: translateY(500%);
  will-change: transform;
}

.front.showFront .title{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 600ms;
}

.front .subtitle{
	position: absolute;
	text-align: center;
	font-size: 20px;
	bottom: 160px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
		color:#fff;
	text-shadow: 0px 1px 6px #000;
	transform: translateY(500%);
  will-change: transform;
}

.front.showFront .subtitle{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1225ms;	
}

.front .button{
	display: inline-block;
  text-decoration: none;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;	
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    position: absolute;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
        box-shadow: 0px 4px 4px -1px #79797996;
    transform: translateY(500%);
    transition: background-color color  200ms;
    will-change: transform;
}

.front .button:hover,
.front .button:active{
	background-color: #fff;
	color:#571617;
}

.front.showFront .button{
	-webkit-transform: none;
  	transform: none;
  	transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1850ms;	
}

.for_me{
	width: 100%;
}

.for_me .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #571617;
    font-weight: bold;
}

.for_me ul {
    padding-left: 30px;
    padding-right: 15px;
}

.for_me li {
    list-style-type: none;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.for_me li:before {
    content: "- ";
}

.for_me .text{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #571617;
    font-weight: bold;
}

.first_lesson{
	background-image: url(img/block-3-mob-sm.jpg);
	background-position: bottom;
	background-position-x: center;
	background-size: cover; 
	padding-bottom: 35px;
}

.first_lesson .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    text-shadow: 0px 1px 6px #000;
}

.first_lesson .item{
    width: 95%;
    margin: auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 6px;
    height: 120px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 2px 3px 1px #571617a1;
    transform: scale(0.8);
}

.first_lesson .wrap.show .item{
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms linear 300ms;
}

.first_lesson .wrap{
	transform: translateX(-110%);
	will-change: transform;
}

.first_lesson .wrap.show {
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.first_lesson .item img{
	width: 120px;
	height: 120px;
}
.first_lesson .item .text{
    padding: 10px;
    font-size: 18px;
    vertical-align: middle;
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.first_lesson .button{
  display: block;
  text-decoration: none;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px -1px #79797996;
    transition: 200ms;
}

.first_lesson .button:hover,
.first_lesson .button:active{
  background-color: #fff;
  color:#571617;
}


.full_course{
  overflow: hidden;
}

.full_course .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 21px;
  color: #571617;
  font-weight: bold;
}

.full_course .subtitle{
  text-align: center;
  font-size: 25px;
  bottom: 160px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #571617;
  margin-bottom: 30px;
  font-weight: bold;
}

.full_course .wrap#block-4-1{
  transform: translateX(-100%);
  will-change: transform;
}

.full_course .wrap#block-4-2{
  transform: translateX(100%);
  will-change: transform;
}

.full_course .wrap.show#block-4-1,
.full_course .wrap.show#block-4-2{
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.full_course .block{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 3px 1px #571617a1;
    transform: scale(0.8);
}

.full_course .wrap.show .block{
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms linear 300ms;
}

.full_course .block img{
    width: 100%;
}

.full_course .block .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 26px;
  color:#571617;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
}

.full_course .block ul{
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.full_course .block li{
  margin-bottom: 12px;
  line-height: 1.2;
}

.better{
  width: 100%;
  background-image: url(img/block-5-mobile-sm.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-shadow: 0px 1px 1px #000;
}

.better .title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff;
}

.better ul {
    padding-left: 30px;
    padding-right: 15px;
}

.better li {
    font-size: 20px;
    margin-bottom: 28px;
}

.who_are{
	overflow: hidden;
}

.who_are .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 21px;
  color: #571617;
  font-weight: bold;
}

.who_are .foto{
	width: 100%;
	transform: scale(0.8);
	border-radius: 10px;
	box-shadow: -2px 7px 9px 2px #aaa;
}

.who_are .wrap.show .foto{
  -webkit-transform: none;
  transform: none;
  border-radius: 0px;
  transition: 600ms linear 300ms;
  box-shadow: 0px 0px 0px 0px #fff;
}

.who_are .wrap#who_are_foto{
	transform: translateX(-100%);
}
.who_are .wrap.show#who_are_foto{
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.who_are .text{
	transform: scale(0.8);
	border-radius: 10px;
	box-shadow: -2px 7px 9px 2px #aaa;
}

.who_are .wrap.show .text{
  -webkit-transform: none;
  transform: none;
  border-radius: 0px;
  transition: 600ms linear 300ms;
  box-shadow: 0px 0px 0px 0px #fff;
}

.who_are .wrap#who_are_text{
	transform: translateX(100%);
}
.who_are .wrap.show#who_are_text{
  -webkit-transform: none;
  transform: none;
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.who_are .text .name{
  font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.who_are .text ul{
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.who_are .text li{
  margin-bottom: 15px;
  line-height: 1.2;
}

.who_are .button_wrap{
  display: flex;
}

.who_are .button{
  display: block;
  text-decoration: none;
  height: 50px;
  border: 1px solid #571617;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #571617;
  color: #fff;
  bottom: 70px;
  margin-left: 20px;
  margin-right: 20px;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 4px -1px #79797996;
  transition: 200ms;
  width: 100%;
}

.who_are .button:hover,
.who_are .button:active{
  background-color: #fff;
  color:#571617;
}

.how{
  background-image: url(img/block-7.jpg);
  padding-top: 5px;
  padding-bottom: 40px;
}

.how .title{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #571617;
    text-shadow: 0px 1px 1px #fff
}

.how .wrap{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.how .item{
  width: 160px;
  text-align: center;
  display: inline-block;
  color: #571617;
  text-shadow: 0px 1px 1px #fff
}
.how .wrap.left{
  text-align: left;
}
.how .wrap.right{
  text-align: right;
}

.how .wrap.center{
  text-align: center;
}

.how .item img{
  width: 100px;
}

.how .button{
  display: block;
  text-decoration: none;
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px -1px #79797996;
    transition: 200ms;
}

.how .button:hover,
.how .button:active{
  background-color: #fff;
  color:#571617;
}

.believe{

}

.believe .title{
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #571617;
}

.believe img{
  width: 100px;
  display: block;
  margin: auto;
  margin-bottom: 35px;
}

.believe ul{
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.believe li{
  margin-bottom: 15px;
  line-height: 1.2;
}

.price{
  background-image: url(img/price-mobile-sm.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  padding-bottom: 20px;
  padding-top: 40px;
}


.price .title{
  text-align: center;
  font-size: 30px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Arimo', sans-serif;
  color:#fff;
  text-shadow: 0px 1px 1px #000;
  margin-bottom: 25px;
}

.price .table{
  background-color: #fff;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 1px #571617a1;
    opacity: 0;
  transform: scale(0.5);
}

.price .table.show{
	-webkit-transform: none;
  transform: none;
  opacity: 1;
  transition: 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.price .table a{
  text-decoration: none;
  display: block;
}

.price .table div,
.price .table a{
  border-bottom: 1px solid #571617;
  padding: 15px;
  text-align: center;
  font-size: 22px;
}

.price .table div:last-child,
.price .table a{
  border-bottom: 0px;
  background-color: #571617;
  color:#fff;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
  font-size: 18px;
}

.form{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    padding-top: 1px;
}

.form .title{
	font-family: 'Arimo', sans-serif;
  	text-align: center;
  	font-size: 32px;
  	margin-top: 30px;
  	margin-bottom: 20px;
  	font-weight: bold;
  	color: #571617;
}

.form .button{
    height: 50px;
    border: 1px solid #571617;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #571617;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px -1px #79797996;
    transition: 200ms;
}

.form .button:hover,
.form .button:active{
  background-color: #fff;
  color:#571617;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 28px 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.input--nao {
  overflow: hidden;
  padding-top: 1em;
}

.input__field--nao {
  padding: 5px 0px 10px;
  width: 100%;
  background: transparent;
  color: #9da8b2;
  font-size: 20px;
}

.input__label--nao {
  position: absolute;
  top: 0px;
  font-size: 14px;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0px;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
  transition: transform 0.2s 0.15s, color 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.graphic--nao {
  stroke: #92989e;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #333;
  -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #333;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}


.contacts{
	background-image: url(img/final.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	padding: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.contacts .content{
	background-color:white;
	border-radius: 5px;
  	box-shadow: 0px 2px 3px 1px #571617a1;
  	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 1px;
}

.contacts .content .title{
	font-family: 'Arimo', sans-serif;
  	text-align: center;
  	font-size: 32px;
  	margin-top: 30px;
  	margin-bottom: 20px;
  	font-weight: bold;
  	color: #571617;	
}

.contacts .content ul{
	padding-left: 0;
	padding-top: 25px;
}

.contacts .content li{
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.contacts .content li a,
.contacts .content li a:active,
.contacts .content li a:visited{
  color: #000;
}

.contacts .content li .show-popup-offer{
  text-decoration: underline;
}

@media (max-height: 480px) {
	.front{
		background-position: center center;
	}

	.front .title{
		transform: translateY(1000%);
		bottom: 180px;
	}
	.front .subtitle{
		transform: translateY(1000%);
		bottom: 140px;
	}
	.front .button{
		transform: translateY(1000%);
		bottom: 50px;
	}
}