*{
	margin: 0;
	bottom: 0;
	font-family: 'Comfortaa', cursive;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}


.select-field{
  overflow: hidden;
  width: 300px;
}

.select-field .field{
  padding: 10px;
  font-size: 23px;
  border-bottom:1px solid black;
  
}

.select-field ul{
    display: inline;
    padding: 0;
    position: relative;
}

.select-field li{
  transform: translateX(100%);
  list-style: none;
    padding: 10px;
  font-size: 18px;
  border-bottom:1px solid black;
  background-color: #fff;
  position: absolute;
}

.select-field li.active{
  color:red;
}

.select-field ul.show li:first-child{
  -webkit-transform: none;
  transform: none;
  transition: transform 200ms linear;
}

.select-field ul.show li:nth-child(2){
  -webkit-transform: none;
  transform: none;
  transition: transform 200ms linear 100ms;
}

.select-field ul.show li:nth-child(3){
  -webkit-transform: none;
  transform: none;
  transition: transform 200ms linear 200ms;
}

.select-field ul.show li:nth-child(4){
  -webkit-transform: none;
  transform: none;
  transition: transform 200ms linear 300ms;
}

.select-field ul li:nth-child(4){

  transition: transform 200ms linear;
}

.select-field ul li:nth-child(3){
  transition: transform 200ms linear 100ms;
}

.select-field ul li:nth-child(2){
  transition: transform 200ms linear 200ms;
}

.select-field ul li:first-child{
  transition: transform 200ms linear 300ms;
}